/**
 * Colors!
 * 
 * @author Fred Stevens-Smith
 * @copyright Cldrdr Inc. d/b/a Rainforest, 2013
 */
$llgrey: #FCFCFC;
$lgrey: #f5f5f5;
$grey: #EEEEEE;
$ggrey: #E1E1E1;
$dgrey: #9E9E9E;
$green: #00AC1B;
$red: #FF0000;
$blue: #3875d7;
$bblue: #5897fb;
$lblue: #EAF9FF;
$yellow: #FFFF00;
$orange: #FF9900;
$black: #191919;
$white: #ffffff;