/**
 * Global Styles
 * 
 * @author Fred Stevens-Smith
 * @copyright Cldrdr Inc. d/b/a Rainforest, 2013
 */
html {
  width: 300px;
  height: 400px;
}

body {
  font-family: $font-family;
  width: 300px;
  height: 400px;
}

#main {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 37px;
  left: 0;
  overflow: auto;
}

a {
  color: shade($blue, 20);
  text-decoration: inherit;
}