/**
 * Repo styles
 * 
 * @author Fred Stevens-Smith
 * @copyright Cldrdr Inc. d/b/a Rainforest, 2013
 */
#github-chrome {
  .repo {
    @include box-sizing('border-box');
    float: left;
    width: 100%;
    border-bottom: 1px solid $grey;
    padding: 1em;
  }
}