/**
 * Repo styles
 * 
 * @author Fred Stevens-Smith
 * @copyright Cldrdr Inc. d/b/a Rainforest, 2013
 */
.repo {
  @include box-sizing('border-box');
  float: left;
  width: 100%;
  border-bottom: 1px solid $grey;
  padding: 0.5em 1em;

  .title {
    a {
      display: block;
      width: 100%;
      height: 100%;

      &:hover {
        text-decoration: underline;
        color: $blue;
      }
    }
  }

  ul.meta {
    @include adjust-font-size-to(11px, 1, 13px);
    > li {

      margin-left: 2em;
      float: left;
      color: $dgrey;

      a {
        display: block;
        width: 100%;
        height: 100%;
        border-bottom: 1px dotted $white;

        &:hover {
          color: $blue;
          text-decoration: underline;
        }
      }

      .octicon {
        font-size: 15px;
        margin-right: 3px;
      }

      &:first-of-type {
        margin-left: 0;
      }
    }
  }

  &:last-of-type {
    border-bottom: none;
  }
}