/**
 * Github Chrome extension stylez
 * 
 * Fat Controller
 * 
 * @author Fred Stevens-Smith
 * @copyright Cldrdr Inc. d/b/a Rainforest, 2013
 */
@import "compass/reset";
@import "compass/css3";
@import "compass/typography";

// Set global font family in variable for ease of use
$font-family: 'Helvetica Neue', Helvetica, sans-serif;

// Create a sane, standardised baseline
$base-font-size: 13px;
$base-line-height: 24px;
@include establish-baseline;

// Colors

// Includes
@import "globals";
@import "colors";

@import "repos";
