%li.repos
  %span.octicon.octicon-repo
  Repos
%li.issues
  %span.octicon.octicon-issue-opened
  Issues
%li.feed
  %span.octicon.octicon-list-unordered
  Feed

%li.settings
  %span.octicon.octicon-settings