.message

%form
  %select{name: 'repository'}
    - for repository in @repositories.models
      - full_name = repository.get('full_name')
      - if localStorage['new_issue_last_repo'] == repository.get('full_name')
        %option{value: full_name, selected: 'selected'}= repository.get('full_name')
      - else
        %option{value: full_name}= repository.get('full_name')

  %label{for: "title"} Title
  %input{name: "title", type: "text", value: ""}
  %br/

  %label{for: "body"} Comment
  %textarea{name: "body", value: ""}

  %br/
  %input{type: "submit", value: "New Issue"}

