%form
  %section
    %select
      - for repository in @repositories.models
        %option{value: repository.get('full_name')}
          = repository.get('full_name')

  %section
    %label{for: "title"} Title:
    %input{name: "title", type: "text", value: ""}

  %section
    %label{for: "comment"} Comment:
    %textarea{name: "comment", value: ""}

  %section
    %input.submit{type: "submit", value: "Create Issue"}