.title Some repo name
%ul.meta
  %li.issues
    %a{ href: '#' }
      %span.octicon.octicon-issue-opened
      13 issues
      %span.important 3
  %li.prs
    %a{ href: '#' }
      2 pull requests
  %li.updated
    %a{ href: '#' }
      updated 2 months ago