.title Some repo name
%ul.meta
  %li.issues
    %a{ href: '#' }
      %span.octicon.octicon-issue-opened
      13
      %span.important 3
  %li.prs
    %a{ href: '#' }
      %span.octicon.octicon-git-pull-request
      2
  %li.updated
    %a{ href: '#' }
      %span.octicon.octicon-history
      updated 2 months ago