.title
  %a{href: @model.get("html_url"), target: '_blank'}
    = @model.get('name')
%ul.meta
  %li.issues
    %a{ href: '#', title: 'Issues' }
      %span.octicon.octicon-issue-opened
      = @model.get('open_issues')
      - # %span.important 3
  %li.prs
    %a{ href: '#', title: 'Pull Requests' }
      %span.octicon.octicon-git-pull-request
      2
  %li.updated
    %a{ href: '#', title: 'Last Updated' }
      %span.octicon.octicon-history
      %abbr.timeago{ title: @model.get("pushed_at") }
        = @model.get("pushed_at")
