.title Some repo name
%ul.meta
  %li.issues
    %a{ href: 'http://facebook.com' }
      %span.octicon.octicon-issue-opened
      %span.content 
        13 issues
  %li.prs
    %a{ href: '#' }
      %span.octicon.octicon-git-pull-request
      %span.content 
        2 PRs
  %li.updated
    %a{ href: '#' }
      %span.octicon.octicon-history
      %span.content 
        2 months ago